@model TallinnaRakenduslikKolledzKaur.Models.Student

@{
	ViewData["Title"] = "Copy õpilane";
}

<h1>Copy õpilane</h1>
<hr />
<div>
	<h4>Õpilane @Model.FirstName @Model.LastName</h4>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">@Html.DisplayNameFor(Model => Model.LastName)</dt>
		<dd class="col-sm-10">@Html.DisplayFor(Model => Model.LastName)</dd>
	</dl>
	<dl class="row">
		<dt class="col-sm-2">@Html.DisplayNameFor(Model => Model.FirstName)</dt>
		<dd class="col-sm-10">@Html.DisplayFor(Model => Model.FirstName)</dd>
	</dl>
	<dl class="row">
		<dt class="col-sm-2">@Html.DisplayNameFor(Model => Model.EnrollmentDate)</dt>
		<dd class="col-sm-10">@Html.DisplayFor(Model => Model.EnrollmentDate)</dd>
	</dl>
	<dl class="row">
		<dt class="col-sm-2">@Html.DisplayNameFor(Model => Model.Commendations)</dt>
		<dd class="col-sm-10">@Html.DisplayFor(Model => Model.Commendations)</dd>
	</dl>

	<dl class="row">
		<dt class="col-sm-2">@Html.DisplayNameFor(Model => Model.Enrollments)</dt>
		<dd class="col-sm-10">@Html.DisplayFor(Model => Model.Enrollments)</dd>
	</dl>


	<dl class="row">
		<dt class="col-sm-2">@Html.DisplayNameFor(Model => Model.Marks)</dt>
		<dd class="col-sm-10">@Html.DisplayFor(Model => Model.Marks)</dd>
	</dl>

</div>
<form asp-action="Clone">
	<input type="hidden" asp-for="Id" />
	<input type="submit" asp-route-id="Id"value="Clone" class="btn btn-primary" /> | <a asp-action="Index">Tühista</a>
</form>
